/swagger-cat.yaml.json_cat.POST.request.body.json
/swagger-cat.yaml.json_cat.POST.response.405.json
/swagger-cat.yaml.json_cat.PUT.request.body.json
/swagger-cat.yaml.json_cat.PUT.response.400.json
/swagger-cat.yaml.json_cat.PUT.response.404.json
/swagger-cat.yaml.json_cat.PUT.response.405.json
/swagger-cat.yaml.json_pet_findByStatus_{statusId}.GET.request.path.json
/swagger-cat.yaml.json_pet_findByStatus_{statusId}.GET.request.query.json
/swagger-cat.yaml.json_pet_findByStatus_{statusId}.GET.response.200.json
/swagger-cat.yaml.json_pet_findByStatus_{statusId}.GET.response.400.json
/swagger-cat.yaml.json_pet_{petId}_uploadImage.POST.request.formData.json
/swagger-cat.yaml.json_pet_{petId}_uploadImage.POST.request.path.json
/swagger-cat.yaml.json_pet_{petId}_uploadImage.POST.response.200.json
/swagger-cat.yaml.json_store_inventory.GET.response.200.json
/swagger-pet.yaml.json_pet.POST.request.body.json
/swagger-pet.yaml.json_pet.POST.response.405.json
/swagger-pet.yaml.json_pet.PUT.request.body.json
/swagger-pet.yaml.json_pet.PUT.response.400.json
/swagger-pet.yaml.json_pet.PUT.response.404.json
/swagger-pet.yaml.json_pet.PUT.response.405.json
/swagger-pet.yaml.json_pet_findByStatus.GET.request.query.json
/swagger-pet.yaml.json_pet_findByStatus.GET.response.200.json
/swagger-pet.yaml.json_pet_findByStatus.GET.response.400.json
/swagger-pet.yaml.json_pet_findByTags.GET.request.query.json
/swagger-pet.yaml.json_pet_findByTags.GET.response.200.json
/swagger-pet.yaml.json_pet_findByTags.GET.response.400.json
/swagger-pet.yaml.json_pet_{petId}.DELETE.request.header.json
/swagger-pet.yaml.json_pet_{petId}.DELETE.request.path.json
/swagger-pet.yaml.json_pet_{petId}.DELETE.response.400.json
/swagger-pet.yaml.json_pet_{petId}.DELETE.response.404.json
/swagger-pet.yaml.json_pet_{petId}.GET.request.path.json
/swagger-pet.yaml.json_pet_{petId}.GET.response.200.json
/swagger-pet.yaml.json_pet_{petId}.GET.response.400.json
/swagger-pet.yaml.json_pet_{petId}.GET.response.404.json
/swagger-pet.yaml.json_pet_{petId}.POST.request.formData.json
/swagger-pet.yaml.json_pet_{petId}.POST.request.path.json
/swagger-pet.yaml.json_pet_{petId}.POST.response.405.json
/swagger-pet.yaml.json_pet_{petId}_uploadImage.POST.request.formData.json
/swagger-pet.yaml.json_pet_{petId}_uploadImage.POST.request.path.json
/swagger-pet.yaml.json_pet_{petId}_uploadImage.POST.response.200.json
/swagger-pet.yaml.json_store_inventory.GET.response.200.json
/swagger-pet.yaml.json_store_order.POST.request.body.json
/swagger-pet.yaml.json_store_order.POST.response.200.json
/swagger-pet.yaml.json_store_order.POST.response.400.json
/swagger-pet.yaml.json_store_order_{orderId}.DELETE.request.path.json
/swagger-pet.yaml.json_store_order_{orderId}.DELETE.response.400.json
/swagger-pet.yaml.json_store_order_{orderId}.DELETE.response.404.json
/swagger-pet.yaml.json_store_order_{orderId}.GET.request.path.json
/swagger-pet.yaml.json_store_order_{orderId}.GET.response.200.json
/swagger-pet.yaml.json_store_order_{orderId}.GET.response.400.json
/swagger-pet.yaml.json_store_order_{orderId}.GET.response.404.json
/swagger-pet.yaml.json_user.POST.request.body.json
/swagger-pet.yaml.json_user.POST.response.default.json
/swagger-pet.yaml.json_user_createWithArray.POST.request.body.json
/swagger-pet.yaml.json_user_createWithArray.POST.response.default.json
/swagger-pet.yaml.json_user_createWithList.POST.request.body.json
/swagger-pet.yaml.json_user_createWithList.POST.response.default.json
/swagger-pet.yaml.json_user_login.GET.request.query.json
/swagger-pet.yaml.json_user_login.GET.response.200.json
/swagger-pet.yaml.json_user_login.GET.response.400.json
/swagger-pet.yaml.json_user_logout.GET.response.default.json
/swagger-pet.yaml.json_user_{username}.DELETE.request.path.json
/swagger-pet.yaml.json_user_{username}.DELETE.response.400.json
/swagger-pet.yaml.json_user_{username}.DELETE.response.404.json
/swagger-pet.yaml.json_user_{username}.GET.request.path.json
/swagger-pet.yaml.json_user_{username}.GET.response.200.json
/swagger-pet.yaml.json_user_{username}.GET.response.400.json
/swagger-pet.yaml.json_user_{username}.GET.response.404.json
/swagger-pet.yaml.json_user_{username}.PUT.request.body.json
/swagger-pet.yaml.json_user_{username}.PUT.request.path.json
/swagger-pet.yaml.json_user_{username}.PUT.response.400.json
/swagger-pet.yaml.json_user_{username}.PUT.response.404.json
/swagger-cat.yaml/
/swagger-pet.yaml/
